body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #134686;
  color: #FDF4E3;
}

button {
  background-color: #FEB21A;
  border: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
}

p{
  background-color: #ED3F27;
  padding: 10px 20px;
  border-radius: 20px;
}